@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="#">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form asp-controller="Administracion" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark btnLogout" data-toggle="tooltip" data-placement="bottom" data-original-title="Salir">Salir</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Administracion" asp-action="CrearUsuario">Crear Usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Administracion" asp-action="Login">Login</a>
    </li>
}