@model Secretaria.FrontEnd.ViewModels.Administracion.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="col-4">
    <div class="et12-borde">
        <form method="post" asp-controller="Administracion" asp-action="Login" class="form-signin">
            <div class="mb-4">
                <h1 class="display-4">Login</h1>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-label-group">
                <input id="inputEmail" asp-for="Email" class="form-control" placeholder="Email" required autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-label-group">
                <input id="inputPassword" asp-for="Contrasenia" class="form-control" placeholder="Contraseña" required autofocus />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mb-3">
                <div class="checkbox">
                    <label asp-for="Recordarme">
                        <input asp-for="Recordarme" />
                        @Html.DisplayNameFor(m => m.Recordarme)
                    </label>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-primary">Ingresar</button>
        </form>
    </div>
</div>