@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Página Principal</h1>
    <p>Documentación en el <a href="https://github.com/ET12DE1Computacion/Secretaria">repositorio github</a>.</p>
</div>
